* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #F7F5F2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 420px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    color: #333;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

.btn {
    border: none;
    padding: 14px 28px;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
}

.btn:hover {
    transform: translateY(-3px);
}

.photo {
    background: #4F8EF7;
}

.video {
    background: #59B86C;
}

/* main container for show picture or video */
#display-container {
    width: 300px;
    height: 300px;
    margin: auto;
    overflow: hidden;
    border-radius: 18px;
    background: white;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .12);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* webcam setting */
#webcam-container {
    width: 100%;
    height: 100%;
}

#webcam-container canvas {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

/* preview for uploaded picture  */
#image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

#result-bar {
    margin-top: 25px;
    background: linear-gradient(135deg, #5E9CFF, #D66BEA);
    color: white;
    border-radius: 18px;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .15);
}